{% extends "base.html.twig" %}

{% block body %}
    <main class="main container">
        <h1 class="title-1">Placebook</h1>
        <form action="{{ path('app_login') }}" method="post" class="form">
            <input type="text" placeholder="Username" name="_username" class="input">
            <input type="hidden" id="password" name="_password" value="pass">

            <input type="submit" class="input-btn" placeholder="Log in">
        </form>
    </main>
{% endblock %}