<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Placebook</title>

        <link rel="icon" href="~@/assets/favicon.ico">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">



        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

            {% block header %}{% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}

    </body>
</html>
